<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Email Template</title>
</head>

<body style="font-family: Arial, sans-serif; background-color: #f4f4f4; margin: 0; padding: 10px">
    <div style="
            background-color: #ffe8c5;
            padding: 15px;
            margin: 10px;
            border-radius: 10px;
            border: 2px solid #000000;
            text-align: start;
            font-size: 16px;
        ">
        <strong>
            <span style="font-size: 18pt">
                Hi <%= name %>,
                    <br />
                    <br />
            </span>
        </strong>
        <span style="font-size: 12pt">
            Thank you for taking the time to get in touch with me! I truly appreciate your
            interest and the effort you put into filling out the contact form.
            <br />
            <br />
            I’ve received your message and will review the details you’ve provided. I’ll get
            back to you as soon as possible—typically within 24–48 hours.
            <br />
            <br />
            If you have any additional information or questions in the meantime, feel free
            to reply to this email.
            <br />
            <br />
            Looking forward to connecting with you!
            <br />
            <br />
            Akshat Kumar Jain,
            Software Engineer
        </span>
    </div>
</body>

</html>